
body {
    /*background-color: rgb(200,200,200);*/
    background-image: url("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0CAcQjRxqFQoTCIWtvPPB2sgCFQg4iAodJzIDyw&url=https%3A%2F%2Fwww.tumblr.com%2FmVQyP-6Jg7O72_vLmLZxuTw&psig=AFQjCNF1WgMMWuxgpPC2zFA1PgJASxM9lQ&ust=1445755710582292");
    background-size: 100% 100%;
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
}

